@charset "UTF-8";

/* scrollbar */
::-webkit-scrollbar {
  /*display: none;*/
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #F8F6F0;
}
::-webkit-scrollbar-thumb {
  background: #BAA682;
  /*-webkit-border-radius: 2px;*/
}
::-webkit-scrollbar-thumb:hover {
  background: #DFB666;
}

/* font-face */
@font-face {
  font-family: Emoji;
  src: local("Apple Color Emojiji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji");
  unicode-range: U+1F000-1F644, U+203C-3299;
}
