@charset "UTF-8";

/* scrollbar */
::-webkit-scrollbar {
  /*display: none;*/
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #F8F6F0;
}
::-webkit-scrollbar-thumb {
  background: #BAA682;
  /*-webkit-border-radius: 2px;*/
}
::-webkit-scrollbar-thumb:hover {
  background: #DFB666;
}

/* font-face */
@font-face {
  font-family: Emoji;
  src: local("Apple Color Emojiji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji");
  unicode-range: U+1F000-1F644, U+203C-3299;
}
/*@font-face {*/
/*  font-family: TrajanPro;*/
/*  src: url("./assets/fonts/TrajanPro.woff2") format('woff2');*/
/*}*/
/*@font-face {*/
/*  font-family: TrajanPro-Bold;*/
/*  src: url("./assets/fonts/TrajanPro-Bold.woff2") format('woff2');*/
/*}*/
/*@font-face {*/
/*  font-family: DINCond-Bold;*/
/*  src: url("./assets/fonts/DINCond-Bold.woff2") format('woff2');*/
/*}*/
/*@font-face {*/
/*  font-family: Poppins;*/
/*  src: url("./assets/fonts/Poppins.woff2") format('woff2');*/
/*}*/

/*
body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Emoji, Helvetica, Arial, sans-serif;
}
.font-serif {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
.font-mono {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
*/

/* prevent pinch-zoom for Chrome 36+, Safari 13+, 禁止缩放手势 */
html {
  touch-action: pan-x pan-y;
  min-height: 100%; /* for Safari */
}

/* user-select, 禁止选择 */
body {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; /* 禁止长按选中文本 */
  -webkit-touch-callout: none; /* 禁止长按弹出上下文菜单 */
  -webkit-tap-highlight-color: transparent; /* 禁止按钮or链接点击特效 */
}

/* prevent pull-to-refresh for Safari 16+, 禁止下拉刷新 */
@media screen and (pointer: coarse) {
  @supports (-webkit-backdrop-filter: blur(1px)) and (overscroll-behavior-y: none)  {
    html {
      min-height: 100.3%;
      overscroll-behavior-y: none;
    }
  }
}
/* prevent pull-to-refresh for Safari 9~15, 禁止下拉刷新 */
@media screen and (pointer: coarse) {
  @supports (-webkit-backdrop-filter: blur(1px)) and (not (overscroll-behavior-y: none))  {
    html {
      height: 100%;
      overflow: hidden;
    }
    body {
      margin: 0;
      max-height: 100%; /* or `height: calc(100% - 16px);` if body has default margin */
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
    /* in this case to disable pinch-zoom, set `touch-action: pan-x pan-y;` on `body` instead of `html` */
  }
}
/* prevent pull-to-refresh for Chrome 63+, 禁止下拉刷新 */
body{
  overscroll-behavior-y: none;
}

/* currently there is NO SIMPLE WAY to prevent BackForwardNavigationGestures for Safari */
/* prevent "overscroll history navigation" for Chrome 63+, 阻止前进后退手势 */
body{
  overscroll-behavior-x: none;
}

/* user-drag，禁止拖拽 */
img, a {
  -webkit-user-drag: none;
}

/* do not display search delete icon */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
input[type="search"]::-ms-clear {
  display: none;
}
